---
layout: default
---

<section class="post">
  <h2>{{ page.title }}</h2>
  <span class="">
    {% for author in page.authors %}
    {%- assign c_author = site.authors | where: "short_name",  author | first -%}
    {% if c_author %}
    <a href="/authors/{{c_author.short_name}}">{{c_author.name}}</a>{% unless forloop.last %}, {% endunless %}
    {% endif %}
    {% endfor %}
  </span>
  <span class="post-date">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
  </span>
  {{ content }}
  <span class="meta">
    Tags: &nbsp;
    {% for tag in page.tags %}
    <a href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </span>
</section>


